* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.slidebar {
    width: 600px;
    margin: 50px;
    
}

.status {
    color: rgb(201, 201, 201);
    background-color: rgb(39, 21, 21);
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;


}

.value {
    margin-bottom: 10px;
    text-align: center;

    
}